html, body{
    background-color: rgb(212, 215, 221);
    font-family: 'Oswald Medium 500', 'Oswald Medium 300', sans-serif;
}

.res-grid {
    background-color: whitesmoke;
    height: 100%;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: 1fr 2fr 6fr 4fr 1fr;
    grid-template-rows: repeat(11, auto);
}

h3 {
    margin: 5px;
}

h4 {
    margin: 2px;
}

h5 {
    margin: 1px;
}


.header {
    font-size: 6rem;
    margin: 2px;
}
    
.header-label{
    font-family: 'Oswald';
    font-style: normal;
    font-size: 1.8em;
    margin: 5px;
    color: rgb(17, 17, 17);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.copy{
    font-family: 'Open Sans';
    font-style: normal;
    font-size: .8em;
}

a {
    color: rgb(17, 17, 17)
}

a:hover {
    color: black;
}

.main-header{
    font-family: 'Oswald';
    font-style: normal;
    grid-column: 2 / -1;
    grid-row: 1 / 2;
    text-align: left;
    align-self: start;
    text-transform: uppercase;  
}

.experience-label{
    font-family: 'Oswald';
    font-size: 1.2em;
    font-style: normal;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
}

.logo-box{
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.logo{
    width: 70%;
    object-fit: contain;
    object-position: center;
    padding: 30px;
}

.experience-list{
    font-family: 'Oswald';
    font-style: normal;
    /* background-color: rgb(212, 215, 221); */
    grid-column: 2 / 4;
    grid-row: 3 / 11;
    flex-flow: column wrap; 
    margin-right: 1px;
}

.experience-item{
    margin: 8px;
}

.experience-date{
    margin: 2 px;
    color: rgba(0, 0, 0, 0.8);
}

.experience-decs{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    margin: 8px;
    justify-content: end;
}

.details {
    grid-column: 4 / 5;
}

.statement {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.skills {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.social {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}
                   
.education{
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}
